body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/taustakuva2.jpg");
    background-attachment:fixed;
}
nav {
    margin: 10px;
    background-color:lightblue;
    color: black;
    border: solid 3px darkcyan;
    border-radius: 10px;
    font-family: monospace;
}
p {
    margin: 30px;
    font-size: 15px;
}
li {
    font-size: 15px;
h1 {
    font-style: italic;
    margin: 20px;
    font-size:30px;
}
h2 {
    margin: 15px;
    font-size: 1.5em;
    font-style: italic;
}
img {
    margin: 20px;
    border: 5px black groove;
}
.nav-link {
    color: black;
}
footer  {
    border-top: solid 3px darkcyan;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}
a {
    color: black;
}
a:hover {
    color: #0A58CA;
    transition: 2s;
}
@media only screen and (max-width: 700px) {
    body {
      font-size: 12px;
    }
    nav {
        text-align: center;
    }
    h1 {
        font-size: 20px;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    img {
        max-width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-brand {
        font-size: 16px;
    }
  }
